* {
    padding: 0;
    margin: 0;
}

header {
    height: 75px;
    display: flex;
    /* background-color: aquamarine; */
    align-items: center;
}

img {
    width: 45px;
    height: 45px;
    margin-left: 18px;
    margin-right: 5px;
    /* align-items: center; */
}

ul {
    display: flex;
    flex: 3 1 300px;
    justify-content: space-around;
    margin-right: 30px;
}
div {
    flex: 5 1 300px;
    display: flex;
    align-items: center;
}

li {
    
    list-style-type: none;
    /* color: #0977dd; */
    
}

a {
    text-decoration: none;
    color: #0977dd;
    font-size:20px;
}

